@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

header{
  background: #077BFF;
  text-align: center;
}
h1{
  color: white;
  padding-top: 16px;
}
header ul{
  display: flex;
  justify-content: center;
}
header li{
  list-style: none;
  padding: 0 16px 16px;
}
header a{
  color: white;
  text-decoration: none;
}

/* section */

section{
  position: relative;
}
section img{
  width: 100%;
}
section div{
  background: #007bff86;
  font-weight: bold;
  width: 55%;
  border-radius: 16px;
  padding: 48px 16px;
  position: absolute;
  top: 64px;
  left: 220px;
  display: inline-block;
}
section p{
  font-size: 24px;
}
section span{
  display: block;
  color: yellow;
  font-weight: bold;
}

/* main */
main{
  padding: 0 32px;
  margin-bottom: 8px;
}
.content{
  padding-top: 32px;
}
.content .image{
  text-align: center;
  overflow: hidden;
}
.content img{
  width: 100%;
  object-fit: cover;
}
.content img:hover{
  transform: scale(1.2);
}
.content h2{
  padding-top: 32px;
}
.ex{
  padding-top: 32px;
  padding-bottom: 16px;
}
.price{
  padding: 16px 0;
}
.content span{
  color: gray;
}
.content button{
  padding: 8px 64px;
  background: #077BFF;
  font-weight: bold;
  border: 1px solid gray;
}
.content button:hover{
  background: #086ee2;
}
.content .pizaprice{
  text-decoration: line-through black;
  color: black;
}
.content .newprice{
  color: black;
}
.content .red{
  color: red;
  font-size: 20px;
}

@media (min-width: 800px) {
  main{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
  }
  .content{
    width: calc(100% / 2 - 18px);
  }
  section div{
    width: 47vw;
    width: fit-content;
    left: 690px;
    background: #007bff86;
  }
  section p{
    font-size: 50px;
  }
}